<h2>Su Compra es: Producto {{producto.title}} - Code: <span id="idProduct">{{producto.id}}</span></h2>


<hr>
<h3>Listado de prodcutos disponibles:</h3>
<ul id="cart">
    {{#each cart}}
        <li>{{descrip}} <button onclick="compra('{{id}}','{{descrip}}')">Comprar</button></li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>